{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "dotnettalks-servicebus-playground_SERVICEBUS": "---YOUR-CONNECTION-STRING---"
  }
}
